{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="/entreprises">Entreprises</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/formations">Formations</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>
				Stage développement web
			</h2>
			<p>
				Stage en développement web</br>
				Ce stage consiste en la réalisation d'un site web pour une entreprise tierce.</br>
				Durée du stage: entre 3 et 6 mois. Avec une date de début au 02/04/2021</br>
				Compétence requise: develoopement d'un site web, maitrise de framework ainsi que des languages PHP, HTML, CSS</br>
				Expérience requise: DUT Informatique</br>
				email: @</br>
				Entreprise: DevWebPro
			</p>
			<p>
				<a class="btn" href="{{path('stages',{id:728})}}">Details »</a>
			</p>
		</div>
		<div class="col-md-6">
			<h2>
				Stage développement d'une inteface graphique
			</h2>
			<p>
				Stage "Développement d'une inteface graphique" </br>
				Ce stage consiste en la réalisation d'une inteface graphique pour une application.</br>
				Durée du stage: 3 mois. Avec une date de début au 05/10/2021</br>
				Compétence requise: Connaissance en IHM</br>
				Expérience requise: Licence Professionnelle Multimédia</br>
				email: @</br>
				Entreprise: Safran
			</p>
			<p>
				<a class="btn" href="{{path('stages',{id:725})}}">Details »</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>
				Stage développement d'une application mobile
			</h2>
			<p>
				Stage de développement d'une application mobile</br>
				Ce stage consiste en la réalisation d'une application mobile permettant l'analyse de donnée sur le terrain.</br>
				Durée du stage en 3 mois. Avec une date de début au 12/05/2021</br>
				Compétence requise: Programmation orienté objet, méthode agile, Java, Android Studio</br>
				Expérience requise: DUT Informatique</br>
				email: @</br>
				Entreprise: Safran
			</p>
			<p>
				<a class="btn" href="{{path('stages',{id:789})}}">Details »</a>
			</p>
		</div>
		<div class="col-md-6">
			<h2>
				Stage développement web
			</h2>
			<p>
				Stage en webmarketer </br>
				Ce stage consiste en la réalisation d'analyse de site commercant pour améliorer leur vente</br>
				Durée du stage en 2 à 3 mois. Avec une date de début au 25/10/2021</br>
				Compétence requise: Connaissant en Web Marketing</br>
				Expérience requise: DUT TIC</br>
				email: @</br>
				Entreprise: Alixepress
			</p>
			<p>
				<a class="btn" href="{{path('stages',{id:708})}}">Details »</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}